body {
    background-color: black;
    margin: 0; 
    padding: 0;

}


/* This is the first section of HOMEPAGE*/
#blvck {
    background-image: url(homepic_final.jpg);
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    background-position: 50% 50%;
    background-attachment: fixed;
    font-size: 70px;
    font-family: 'Bungee shade';
}

#blvck h1 {
    padding-left: 170px;
}

.header{
    
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .header:hover, .header:focus, .header:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .header a{
    color: white;
  }

/* This is the second section of HOMEPAGE */

#listen-section {
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-position: right;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 60px;
    font-family: 'Bungee shade';
}

#listen-section h1 a{
    padding-right: 170px;
    color: white;
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }



  /* This is the third section of HomePage */
#merch-section{
    height: 100vh;
    background-image: url(grid.jpg);
    color: white;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    font-size: 60px;
    font-family: 'Bungee Shade';
    background-attachment: fixed;
}



/* Timer Section */
/* #timer-section {
    width: 100%;
    height: 100vh;
    background-color: #03021b;
    color: white;
    font-size: 40px;
    padding-top: 30px;
 }
#timer-container{
    margin: 0 auto;
    text-align: center;
}
.timer-links {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: white;
}
.timer-links span {
    display: block;
    font-size: 4.5rem;
} */




/* FOOTER */

#footer-container{
	height: 300px;
	background-color:  #e3aa00;
	color: black;
	display: flex;
	justify-content: space-around;
	font-family: 'Bungee Shade';
}

#footer-container h2{
	padding-top: 15px;
	padding-bottom: 10px;
}



#site-map ul li{
	list-style-type: none;
    
}

#site-map ul li a{
    color: black;
}

#social-buttons img{
	height: 60px;
}

/* Merch Page CSS */

/* NAVBAR SECTION */
#logo {
    color: white;
}

span {
    color: white;
}

/* NAVBAR */
/* 
header {
   
} */

#logo {
    font-family: 'Bungee Shade';
    color: black;
}

.nav_links {
    font-family: 'Bungee Shade';
    list-style: none;
    font-size: 25px;
}

.nav_links li a {
    color: black;
    transition: all .3s ease 0s;
}

.nav_links li a:hover {
    transition: all .3s ease 0s ; 
    color: white;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%; 
    background-color: #e3aa00;
    height: 30px;
}

/* Merch Page GRID */
.grid-container {
    display: grid;
    color: white;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

/* .grid-item {
    border: 2px solid purple;
} */

#item1 {
    background-image: url(joggers.jpg);
    height: 400px;
    background-position: left;
}

#item2 {
    background-image: url(joggers.jpg);
    height: 400px;
    background-position: left;
}

#item3 {
    background-image: url(joggers.jpg);
    height: 400px;
    background-position: left;
}

#item4 {
    background-image: url(joggers.jpg);
    height: 400px;
    background-position: left;
}

#item5 {
    background-image: url(joggers.jpg);
    height: 400px;
    background-position: left;
}

#item6 {
    background-image: url(joggers.jpg);
    height: 400px;
    background-position: left;
}

#item7 {
    background-image: url(joggers.jpg);
    height: 400px;
    background-position: left;
}

#item8 {
    background-image: url(joggers.jpg);
    height: 400px;
    background-position: left;
}